<div #navcontainer>
<nav  class="nav has-shadow" id="top">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href="../index.html">
        <img src="../assets/smc-logo.svg" alt="seemychain">
      </a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-active" [routerLink]="['/']">
        Home
      </a>
      <a class="nav-item is-tab">
        Features
      </a>
      <a class="nav-item is-tab">
        Team
      </a>
      <a class="nav-item is-tab">
        Help
      </a>
      <span *ngIf="!auth.currentUser;" class="nav-item">
        <a class="button" (click)="loginDialog()">
          signin/signup
        </a>
      </span>

      <span *ngIf="auth.currentUser;" class="nav-item">
          <a class="button" (click)="auth.signOut()">
            Logout
          </a>
        </span>
      <span *ngIf="auth.currentUser;" class="nav-item is-hidden-mobile">
        <figure class="image is-32x32">
          <img [src]="auth.currentUser.photoURL || '../assets/dummyavatar.png'">
        </figure>
      </span>
    </div>
  </div>
</nav>
</div>

